
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-lg-4 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Printing</div>
        <div class="panel-body"><img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" class="img-responsive" /></div>
        <div class="panel-footer"><p>View Print Stuff here </p>
                                  <div> @Html.ActionLink("Print Page", "Print", "Media", new { @class = "btn btn-primary" })</div></div>
    </div>
</div>



<div class="clearfix"></div>